<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <title>Show</title>
</head>
<body>
  <div class="container">
   <a href="/show"> <button action="/show">Take to Index</button> </a>
            <div>
              <div>
                <h6>date
                  <div>
                    <%= bud.date%>
                  </div>
                <h6>name
                  <div>
                    <%= bud.name%>
                  </div>
                <h6>from
                  <div>
                    <%= bud.from%>
                  </div>
                <h6>amount
                  <div>
                    <%= bud.amount%>
                  </div>
                <h6>tags
                  <div>
                    <%= bud.tags%>
                  </div>
            </div>
     
  </div>
</body>
</html>